@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 23 83% 84%;
    --foreground: 20 15% 15%;
    --card: 23 83% 88%;
    --card-foreground: 20 15% 15%;
    --popover: 23 83% 88%;
    --popover-foreground: 20 15% 15%;
    --primary: 23 90% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 23 80% 75%;
    --secondary-foreground: 20 15% 15%;
    --muted: 23 80% 78%;
    --muted-foreground: 20 15% 35%;
    --accent: 175 63% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 23 70% 70%;
    --input: 23 70% 75%;
    --ring: 23 90% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 15% 15%;
    --foreground: 23 83% 84%;
    --card: 20 15% 18%;
    --card-foreground: 23 83% 84%;
    --popover: 20 15% 18%;
    --popover-foreground: 23 83% 84%;
    --primary: 23 90% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 23 80% 75%;
    --secondary-foreground: 20 15% 15%;
    --muted: 20 15% 25%;
    --muted-foreground: 23 83% 70%;
    --accent: 175 63% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 15% 30%;
    --input: 20 15% 30%;
    --ring: 23 90% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
